@charset "UTF-8";
body {
  font-size: 0.16rem;
  box-sizing: border-box;
}

main {
  width: 7.5rem;
}

/*页面头部开始*/
.m-head {
  height: 0.94rem;
  border-bottom: 0.04rem solid #FE7E0B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.m-head .header-left {
  width: 3.20rem;
  height: 0.94rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.m-head .header-left .h-ico {
  width: 0.8rem;
  height: 0.8rem;
  background: url(../imgs/active/header-1.png) no-repeat 0 0;
  background-size: cover;
}

.m-head .header-left .h-logo div {
  width: 2.36rem;
  height: 0.64rem;
  background: url(../imgs/active/logo.png) no-repeat 0 0;
  background-size: cover;
}

.m-head .header-right {
  width: 1.55rem;
  height: 0.9rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.m-head .header-right a {
  width: 0.6rem;
  height: 0.9rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  color: #333;
}

.m-head .header-right a p {
  font-size: 0.14rem;
}

.m-head .header-right a:nth-child(2n+1) .h-icon {
  width: 0.4rem;
  height: 0.4rem;
  background: url(../imgs/active/header-1.png) no-repeat -0.4rem 0;
  background-size: cover;
}

.m-head .header-right a:nth-child(2n) .h-icon {
  width: 0.4rem;
  height: 0.4rem;
  background: url(../imgs/active/header-1.png) no-repeat -0.8rem 0;
  background-size: cover;
}

/*页面头部结束*/
/*头部nav音平商城、主题专场开始*/
.b-nav {
  height: 0.6rem;
  border-bottom: 1px solid #DEDEDF;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.b-nav .n-title1 {
  width: 1.28rem;
  height: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-nav .n-title1 a {
  color: #0A66CA;
  width: 0.96rem;
  height: 0.32rem;
}

.b-nav div:nth-child(2n) {
  width: 0.26rem;
  height: 0.6rem;
  background: url(../imgs/active/header-1.png) no-repeat -2.6rem 0;
  background-size: cover;
}

.b-nav .n-title2 {
  width: 2.35rem;
  height: 0.6rem;
  display: flex;
  justify-content: flex-start;
}

.b-nav .n-title2 h1 {
  width: 2rem;
  height: 0.6rem;
  line-height: 0.6rem;
  font-weight: normal;
}

/*头部nav音平商城、主题专场结束*/
/*nav各类专场列表开始*/
.m-nav {
  width: 7.5rem;
  height: 3.12rem;
  padding: 0.4rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
}

.m-nav div {
  width: 1.5rem;
  height: 1.26rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-around;
}

.m-nav div a {
  color: #333;
}

.m-nav div a img {
  width: 0.8rem;
  height: 0.8rem;
}

.m-nav div a p {
  text-align: center;
}

/*nav各类专场列表结束*/
/*导航条开始*/
.active-warp {
  width: 7.5rem;
  height: 0.92rem;
}

.active-warp .active-gray {
  width: 7.5rem;
  height: 0.92rem;
  display: flex;
  justify-content: center;
  align-content: space-around;
  background-color: #fff;
  z-index: 10;
}

.active-warp .active-gray a {
  line-height: 0.92rem;
  text-align: center;
  border-bottom: 0.02rem solid #DFDFDF;
  display: block;
  width: 2.5rem;
  height: 0.92rem;
  color: #333;
  font-size: 0.3rem;
}

/*导航条结束*/
/*复用*/
/*定位*/
.post {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
}

.s-height {
  height: 123.8644rem;
}

/*touch后字体变色添加下边框*/
.active {
  color: #FE7E0B;
  border-bottom: 0.04rem solid #FE7E0B !important;
}

/*模块分界色块*/
.gray-holder {
  width: 7.5rem;
  height: 0.2744rem;
  background-color: #eee;
  border-top: 0.02rem solid #ebebeb;
  border-bottom: 0.02rem solid #ebebeb;
}

/*右边框*/
.bor-foot {
  border-right: 0.02rem solid #ddd;
}

/*页脚字体颜色*/
.ftr-color {
  color: #FE7E0B !important;
}

/*购物车加相对定位*/
.fix-post {
  position: relative;
}

/*复用结束*/
section {
  width: 7.5rem;
  position: relative;
}

section .link-holder {
  z-index: 1;
  width: 0.4rem;
  height: 0.4rem;
  position: absolute;
  top: -0.92rem;
  left: 0;
}

section .s-head {
  height: 0.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}

section .s-head p {
  font-size: 0.2rem;
  color: #FE7E0B;
  width: 2rem;
  height: 0.8rem;
  text-align: center;
  line-height: 0.8rem;
}

section .s-head .solid {
  width: 2.5rem;
  border-top: 0.01rem solid #BEBEBe;
}

section ul li {
  width: 7.5rem;
  height: auto;
  padding: 0.2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section ul li a {
  display: block;
  width: 7.04rem;
  height: 5.28rem;
}

section ul li a img {
  width: 7.04rem;
  height: 5.28rem;
}

section ul li p {
  width: 7.04rem;
  padding: 0.2rem 0;
  color: #666;
}

.more-head {
  width: 7.5rem;
  height: 0.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
}

.more-head p {
  font-size: 0.32rem;
  color: #333;
  width: 2rem;
  height: 0.8rem;
  text-align: center;
  line-height: 0.8rem;
}

.more-head div {
  width: 2.5rem;
  border-top: 0.01rem solid #BEBEBe;
}

.advert {
  width: 7.5rem;
  height: 2.14rem;
}

.advert image {
  width: 100%;
  height: 100%;
}

footer {
  width: 7.5rem;
}

footer .login-box {
  width: 7.5rem;
  height: 0.92rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.02rem solid #ebeced;
}

footer .login-box .login-left {
  width: 2.1rem;
  height: 0.92rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer .login-box .login-left a {
  display: block;
  width: auto;
  color: #333;
  font-size: 0.28rem;
}

footer .login-box .login-left span {
  display: block;
  width: 0.4rem;
  height: 0.4rem;
  color: #ccc;
  text-align: center;
}

footer .login-box .login-right {
  width: 3.6rem;
  height: 0.92rem;
  display: flex;
  align-items: center;
}

footer .login-box .login-right span {
  display: block;
  width: 3.6rem;
  font-size: 0.28rem;
  color: #333;
}

footer .login-box .login-right span i {
  font-size: 0.28rem;
  color: #FE7E0B;
}

footer .ftr-list1 {
  width: 7.5rem;
  height: 0.72rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.02rem solid #ebeced;
}

footer .ftr-list1 a {
  display: block;
  width: 1.8rem;
  height: 0.32rem;
  color: #333;
  font-size: 0.16rem;
}

footer .ftr-list1 a div {
  text-align: center;
}

footer .ftr-list2 {
  width: 7.5rem;
  height: 2.06rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .ftr-list2 a {
  display: block;
  width: 1.525rem;
  height: 1.26rem;
  vertical-align: hidden;
}

footer .ftr-list2 a img {
  position: relative;
  top: 0;
  left: 50%;
  margin-left: -0.36rem;
  margin-top: 0.1rem;
  width: 0.72rem;
  height: 0.72rem;
}

footer .ftr-list2 a p {
  text-align: center;
  color: #333;
  font-size: 0.16rem;
}

footer .ftr-p1 {
  color: #888;
  font-size: 0.14rem;
  padding: 0.1rem 0 0.08rem;
  text-align: center;
}

footer .ftr-p2 {
  color: #888;
  font-size: 0.14rem;
  text-align: center;
}

footer .ftr-holder {
  width: 7.5rem;
  height: 1rem;
}

.fix-bottom {
  width: 7.5rem;
  height: 1rem;
  display: flex;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  bottom: 0;
}

.fix-bottom a {
  display: flex;
  width: 1.5rem;
  height: 1rem;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.fix-bottom a p {
  width: 1.5rem;
  height: 0.4rem;
  line-height: 0.4rem;
  text-align: center;
  color: #dbdbdb;
}

.fix-bottom a div {
  position: relative;
  margin-top: 0.1rem;
  width: 0.4rem;
  height: 0.4rem;
  font-size: 0.4rem !important;
  line-height: 0.4rem;
  text-align: center;
  color: #dbdbdb;
}

.fix-bottom a div .fix-span {
  position: absolute !important;
  background: #fff;
  position: absolute;
  color: #fff;
  background-color: #f23030;
  width: auto !important;
  padding: 0.04rem 0.06rem !important;
  border-radius: 0.32rem;
  left: 0.28rem;
  top: -0.08rem;
  font-size: 0.18rem;
  height: 0.3rem;
  line-height: 0.2rem;
  text-align: center;
}
