body {
  font-size: 0.16rem;
}

.all-box {
  width: 7.5rem;
  overflow: hidden;
}

.cont {
  width: 7.5rem;
  margin: 0 auto;
}

.cont .head {
  width: 7.5rem;
  height: 0.90rem;
  border-bottom: 0.04rem solid #ff7f00;
  display: flex;
  justify-content: space-between;
}

.cont .head .h-left {
  display: flex;
}

.cont .head .h-left .aside-nav-toggle {
  width: 0.80rem;
  height: 0.80rem;
  font-size: 0.4rem;
  line-height: 0.80rem;
  text-align: center;
}

.cont .head .h-left .logo {
  height: 0.8rem;
  line-height: 0.80rem;
}

.cont .head .h-left .logo a {
  display: inline-block;
  width: 2.36rem;
  height: 0.64rem;
}

.cont .head .h-left .logo img {
  vertical-align: middle;
}

.cont .head .h-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cont .head .h-right a {
  width: 0.6rem;
  height: 0.90rem;
  margin-right: 0.16rem;
  padding-top: 0.10rem;
  text-align: center;
}

.cont .head .h-right a .myicon {
  width: 0.4rem;
  height: 0.40rem;
  margin: 0 auto;
  background: url("../imgs/suit/head_icon.png") no-repeat;
  background-size: auto 0.40rem;
}

.cont .head .h-right a .icon_01 {
  background-position: -0.40rem 0;
}

.cont .head .h-right a .icon_02 {
  background-position: -0.80rem 0;
}

.cont .head .h-right a span {
  color: #000;
  font-size: 0.14rem;
}

.cont .bread {
  width: 7.5rem;
  height: 0.62rem;
  font-size: 0.24rem;
  background-color: #fff;
  border-bottom: 0.02rem solid #ccc;
}

.cont .bread .brand-item {
  height: 0.60rem;
  line-height: 0.60rem;
  padding: 0 0.16rem;
  float: left;
}

.cont .bread .brand-item a {
  color: #06c;
}

.cont .bread .brand-item h1 {
  font-size: 0.24rem;
}

.cont .bread .split {
  width: 0.30rem;
  background: url("../imgs/suit/head_icon.png") no-repeat;
  background-size: auto 0.60rem;
  background-position: -2.52rem 0;
}

.aside-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  box-sizing: border-box;
  padding: 0.20rem;
  display: none;
  background-color: white;
  overflow: auto;
}

.aside-nav dl {
  width: 2.30rem;
  margin-bottom: 0.20rem;
  padding-bottom: 0.20rem;
  border-bottom: 0.02rem solid #e6e6e6;
}

.aside-nav dl dt {
  font-size: 0.30rem;
  font-weight: bolder;
  color: #ff7f00;
  margin-bottom: 0.20rem;
}

.aside-nav dl dd a {
  display: block;
  overflow: hidden;
  color: #666;
  line-height: 20px;
  margin: 0;
  padding: 0.10rem 0;
  font-size: 0.28rem;
}

.aside-nav dl dd a img {
  width: 1.74rem;
  height: 0.58rem;
  vertical-align: middle;
}

.aside-nav dl dd a img.ot, .aside-nav dl dd a img.phone {
  width: 0.24rem;
  height: 0.24rem;
}

.aside-nav dl dd a.phone-box {
  color: #ff7f00;
  font-size: 0.24rem;
}

.aside-nav dl dd.heart-info {
  padding-left: 0.26rem;
  background: url("../imgs/section3/ico_info.jpg") no-repeat;
  background-position: left center;
}

.aside-nav dl dd.heart-info a {
  color: #999;
  font-size: 0.24rem;
}

body {
  font-size: 0.16rem;
}

.cont {
  width: 7.5rem;
  margin: 0 auto;
}

.cont .page-foot {
  height: 8.28rem;
}

.cont .page-foot .press-scan {
  width: 7.5rem;
  padding: 0.20rem 0;
  background-color: #EEEEEE;
}

.cont .page-foot .press-scan img {
  width: 100%;
  height: 2.14rem;
}

.cont .page-foot .tip-box {
  height: 1rem;
  line-height: 1rem;
  font-size: 0.28rem;
  padding: 0 0.40rem;
  display: flex;
  justify-content: space-between;
}

.cont .page-foot .tip-box .left-box a {
  color: #333;
}

.cont .page-foot .tip-box .left-box span {
  margin: 0 5px;
  color: #ccc;
}

.cont .page-foot .tip-box .right-box a {
  color: #333;
}

.cont .page-foot .tip-box .right-box a span {
  font-size: 0.36rem;
  color: #ff7f00;
}

.cont .page-foot .help-box {
  height: 0.30rem;
  padding: 0.20rem;
  line-height: 0.30rem;
  font-size: 0.24rem;
  color: #666666;
  border-bottom: 0.02rem #ebeced solid;
  border-top: 0.02rem #ebeced solid;
}

.cont .page-foot .help-box .item {
  float: left;
  width: 1.76rem;
  text-align: center;
  border-right: 0.02rem solid #ddd;
}

.cont .page-foot .help-box .item i {
  font-size: 0.28rem;
}

.cont .page-foot .help-box .item:last-child {
  border: none;
}

.cont .page-foot .img-info-box {
  width: 6.10rem;
  color: #666;
  padding: 0.40rem 0.70rem;
  display: flex;
  justify-content: space-around;
}

.cont .page-foot .img-info-box figure {
  width: 1.26rem;
  font-size: 0.26rem;
  margin: 0;
  text-align: center;
}

.cont .page-foot .img-info-box figure img {
  width: 0.84rem;
  height: auto;
}

.cont .page-foot .img-info-box figure span {
  display: inline-block;
  margin-top: 0.08rem;
}

.cont .page-foot .license {
  width: 7.5rem;
  height: 0.72rem;
  padding: 0.10rem 0 0.16rem;
  color: #888888;
  font-size: 0.24rem;
}

.cont .page-foot .license p {
  text-align: center;
}

.cont .fixed-bottom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 7.5rem;
  height: 1rem;
  background-color: #000;
  opacity: 0.8;
  z-index: 2000;
}

.cont .fixed-bottom a {
  float: left;
  width: 1.50rem;
  height: 1rem;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.cont .fixed-bottom a i {
  font-size: 0.44rem;
}

.cont .fixed-bottom a span {
  width: 100%;
  display: block;
  text-align: center;
  font-size: 0.26rem;
}

body {
  font-size: 0.16rem;
}

.item-common {
  margin-top: 0.30rem;
  background: #ccf6e6;
  padding: 0.30rem 0;
  border-radius: 0.16rem;
}

.item-common a .big {
  width: 7.05rem;
  height: 7.05rem;
}

.item-common a p {
  width: 6rem;
  height: 0.84rem;
  margin: 0.20rem auto;
  color: #fff;
  line-height: 0.84rem;
  display: flex;
  justify-content: space-around;
}

.item-common a p span {
  font-size: 0.48rem;
}

.item-common a p b {
  font-size: 0.24rem;
}

.item-common a.video1 {
  display: block;
  padding: 0 0.20rem;
}

.cont .classify {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: #980035;
}

.cont .classify a {
  width: 3.68rem;
  height: 1.621rem;
  padding: 0.1rem;
}

.cont .classify a:nth-child(1) {
  padding-top: 0.2rem;
}

.cont .classify a:nth-child(2) {
  padding-top: 0.2rem;
}

.cont .classify a:nth-child(3) {
  padding-bottom: 0.2rem;
}

.cont .classify a:nth-child(4) {
  padding-bottom: 0.2rem;
}

.cont .plate1 .plate1-1 {
  border-top: 0.3rem solid #7500f4;
  border-bottom: 0.2rem solid #7500f4;
}

.cont .plate1 ul li {
  display: flex;
  align-items: center;
  height: 2.02rem;
  border-top: 0.02rem solid #e0e0e0;
}

.cont .plate1 ul li .plate1-2-1 {
  color: #fff;
  width: 0.975rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 2rem;
  justify-content: center;
}

.cont .plate1 ul li .plate1-2-1 p {
  font-size: 0.1rem;
  text-align: center;
}

.cont .plate1 ul li .plate1-2-1 h2 {
  font-size: 0.48rem;
  font-weight: 100;
}

.cont .plate1 ul li .color1 {
  background: #f25455;
}

.cont .plate1 ul li .color2 {
  background: #fbaa51;
}

.cont .plate1 ul li .color3 {
  background: #80dcd1;
}

.cont .plate1 ul li .color4 {
  background: #50d9eb;
}

.cont .plate1 ul li .color5 {
  background: #9675ce;
}

.cont .plate1 ul li img {
  width: 1.7rem;
  height: 1.7rem;
}

.cont .plate1 ul li .plate1-2-2 {
  margin-top: -0.12rem;
  height: 1.8rem;
  width: 4.9432rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cont .plate1 ul li .plate1-2-2 .wen {
  font-size: 0.3rem;
  color: #666;
  margin-top: 0.2rem;
}

.cont .plate1 ul li .plate1-2-2 .plate1-2-3 {
  width: 4.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cont .plate1 ul li .plate1-2-2 .plate1-2-3 p {
  color: #ff6600;
}

.cont .plate1 ul li .plate1-2-2 .plate1-2-3 p span {
  background: #957bff;
  color: #fff;
  margin-left: 0.2rem;
  border-radius: 0.05rem;
  padding: 0.03rem;
}

.cont .plate1 ul li .plate1-2-2 .plate1-2-3 img {
  width: 0.52rem;
  height: 0.52rem;
  display: flex;
  justify-content: flex-end;
}

.cont .plate2 .plate2-1 {
  border-top: 0.3rem solid #7500f4;
  border-bottom: 0.2rem solid #7500f4;
}

.cont .plate2 .plate2-2 {
  background: #e9e9e9;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cont .plate2 .plate2-2 .plate2-2-1 {
  display: flex;
  background: #fff;
  width: 2.4196rem;
  height: 4.1996rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.08rem;
  border: 0.01rem solid #e9e9e9;
}

.cont .plate2 .plate2-2 .plate2-2-1 img {
  width: 2.3796rem;
  height: 2.3796rem;
}

.cont .plate2 .plate2-2 .plate2-2-1 div {
  overflow: hidden;
  height: 0.6rem;
}

.cont .plate2 .plate2-2 .plate2-2-1 div p {
  cursor: pointer;
  color: #000;
  font-size: 0.28rem;
  line-height: 0.32rem;
  margin-left: 0.2rem;
}

.cont .plate2 .plate2-2 .plate2-2-1 .piace {
  border-top: 0.02rem solid #e9e9e9;
  width: 2.1rem;
  height: 0.5rem;
}

.cont .plate2 .plate2-2 .plate2-2-1 .piace span {
  color: #f60;
  font-size: 0.28rem;
  line-height: 0.5rem;
}

.cont .plate2 .plate2-3 {
  border-top: 0.05rem solid #e9e9e9;
  border-bottom: 0.01rem solid #e9e9e9;
  height: 3.16rem;
  display: flex;
  flex-wrap: wrap;
}

.cont .plate2 .plate2-3 .plate2-3-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1.875rem;
  height: 1.5412rem;
  border: 0.01rem solid #e9e9e9;
}

.cont .plate2 .plate2-3 .plate2-3-1 img {
  width: 1.4926rem;
  height: 0.7462rem;
  margin-top: 0.2rem;
}

.cont .plate2 .plate2-3 .plate2-3-1 div {
  width: 1.4926rem;
  height: 0.5rem;
  border-top: 0.01rem solid #e9e9e9;
}

.cont .plate2 .plate2-3 .plate2-3-1 div p {
  text-align: center;
  line-height: 0.5rem;
  color: #666;
}

.cont .plate3 .bc1 {
  background: #1093e1;
}

.cont .plate3 .bc2 {
  background: #187aff;
}

.cont .plate3 .bc3 {
  background: #510087;
}

.cont .plate3 .bc4 {
  background: #005961;
}

.cont .plate3 .bc5 {
  background: #800087;
}

.cont .plate3 .plate3-3 {
  display: flex;
  height: 3rem;
  justify-content: space-between;
}

.cont .plate3 .plate3-3 img {
  width: 4.9468rem;
  height: 2.6294rem;
}

.cont .plate3 .plate3-3 .plate3-3-1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  width: 2.17rem;
  height: 1.6rem;
}

.cont .plate3 .plate3-3 .plate3-3-1 p {
  font-size: 0.21rem;
  color: #ffff00;
}

.cont .plate3 .plate3-3 .plate3-3-1 p span {
  font-size: 0.4rem;
  font-weight: 700;
}

.cont .plate3 .plate3-3 .plate3-3-1 div {
  background: #ff0066;
  border-radius: 0.3rem;
  width: 2.12rem;
  height: 0.66rem;
  text-align: center;
  line-height: 0.66rem;
}

.cont .plate3 .plate3-3 .plate3-3-1 div a {
  color: #fff;
  font-size: 0.3rem;
}

.cont .plate4 {
  overflow: hidden;
}

.cont .plate4 .plate4-1 {
  border-top: 0.3rem solid #7500f4;
  border-bottom: 0.2rem solid #7500f4;
}

.cont .plate4 .tabs {
  background-size: auto 100%;
  height: 0.81rem;
  overflow: hidden;
  background: #4d4d4d;
  display: flex;
}

.cont .plate4 .tabs a {
  font-weight: normal;
  text-align: center;
  font-size: 0.25rem;
  width: 2.2rem;
  height: 0.8rem;
  line-height: 0.8rem;
  color: #2a70be;
  text-decoration: none;
  color: #fff;
}

.cont .plate4 .tabs .active {
  background-repeat: no-repeat;
  background-size: 2.2rem 0.8rem;
  background-position: left top;
  background: #ff0066;
}

.cont .plate4 #tabs-container .news-list {
  padding: 0 0.04rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #ff0066;
  padding-bottom: 0.03rem;
}

.cont .plate4 #tabs-container .news-list li {
  overflow: hidden;
}

.cont .plate4 #tabs-container .news-list li .plate2-2-1 {
  display: flex;
  background: #fff;
  width: 2.4196rem;
  height: 4.1996rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.08rem;
  border: 0.01rem solid #e9e9e9;
}

.cont .plate4 #tabs-container .news-list li .plate2-2-1 img {
  width: 2.3796rem;
  height: 2.3796rem;
}

.cont .plate4 #tabs-container .news-list li .plate2-2-1 div {
  overflow: hidden;
  height: 0.6rem;
}

.cont .plate4 #tabs-container .news-list li .plate2-2-1 div p {
  cursor: pointer;
  color: #000;
  font-size: 0.28rem;
  line-height: 0.32rem;
  margin-left: 0.2rem;
}

.cont .plate4 #tabs-container .news-list li .plate2-2-1 .piace {
  border-top: 0.02rem solid #e9e9e9;
  width: 2.1rem;
  height: 0.5rem;
}

.cont .plate4 #tabs-container .news-list li .plate2-2-1 .piace span {
  color: #f60;
  font-size: 0.28rem;
  line-height: 0.5rem;
}

.cont .plate4 #tabs-container .gengduo {
  height: 0.8rem;
}

.cont .plate4 #tabs-container .gengduo p {
  color: #ff0066;
  text-align: center;
  line-height: 0.8rem;
  font-size: 0.26rem;
  font-weight: 700;
}

.cont .zhengpin {
  height: 4.3rem;
  background: #002d8d;
}

.cont .more .thematic-special {
  margin: .48rem auto;
  width: 94%;
  height: .02rem;
  border-top: .03rem solid #d4d4d4;
  text-align: center;
}

.cont .more .thematic-special span {
  position: relative;
  top: -0.28rem;
  background: #f3f3f3;
  padding: 0 .4rem;
  font-size: .32rem;
  color: #333;
}

.cont .more .thematic-special-list {
  padding: .4rem 0 .4rem 0;
  background: #fff;
  display: flex;
  flex-wrap: wrap;
}

.cont .more .thematic-special-list .thematic-special-list1 {
  width: 20%;
  margin-bottom: .6rem;
  border: 0;
}

.cont .more .thematic-special-list .thematic-special-list1 a {
  margin-top: .4rem;
  text-align: center;
}

.cont .more .thematic-special-list .thematic-special-list1 a img {
  margin-top: .4rem;
  width: 40px;
  height: 40px;
  margin: 0 .36rem;
}

.cont .more .thematic-special-list .thematic-special-list1 a p {
  margin-top: .08rem;
  font-size: .24rem;
  color: #333;
}
