<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/lib/reset.css">
    <link rel="stylesheet" href="./css/active.css">
    <link rel="stylesheet" href="./css/lib/swiper.min.css">
    <link rel="stylesheet" href="./fonts/iconfont.css">
    <script src="./js/lib/html5shiv.min.js"></script>
</head>
<body>
    <!-- 主体 -->
    <main>
        <!-- 页面头部 -->
        <header class="m-head">
            <div class="header-left">
                <div class="h-ico"></div>
                <a href="javascript:;" class="h-logo">
                    <div></div>
                </a>
            </div>
            <div class="header-right">
                <a href="javascript:;" class="header-a">
                    <div class="h-icon"></div>
                    <p>搜索</p>
                </a>
                <a href="javascript:;" class="header-a">
                    <div class="h-icon"></div>
                    <p>我的</p>
                </a>
            </div>
        </header>
        <!-- 页面头部/ -->
        <!-- 导航音平商城 -->
        <nav class="b-nav">
            <div class="n-title1">
                <a href="javascript:;">音平商城</a>
            </div>
            <div></div>
            <div class="n-title2"> 
                <h1>主题专场</h1>
            </div>
        </nav>
        <!-- 导航音平商城/ -->
        <!-- 主题导航 -->
        <nav class="m-nav">
          <div>
              <a href="javascript:;">
                  <img src="./imgs/active/soundrecording.png" alt="">
                  <p>录音编曲</p>
              </a>
          </div>
          <div>
              <a href="javascript:;">
                  <img src="./imgs/active/wangluozhubo-1.0.0.png" alt="">
                  <p>网络主播</p>
              </a>
          </div>
          <div>
              <a href="javascript:;">
                  <img src="./imgs/active/shoujiKge-1.0.0.png" alt="">
                  <p>手机直播</p>
              </a>
          </div>
          <div>
              <a href="javascript:;">
                  <img src="./imgs/active/yanchuyinxiang-1.0.0.png" alt="">
                  <p>演出音响</p>
              </a>
          </div>
          <div>
              <a href="javascript:;">
                  <img src="./imgs/active/jiatingKTV-1.0.0.png" alt="">
                  <p>家庭KTV</p>
              </a>
          </div>
          <div>
              <a href="javascript:;">
                  <img src="./imgs/active/jitayueqi-1.0.0.png" alt="">
                  <p>吉他乐器</p>
              </a>
          </div>
          <div>
              <a href="javascript:;">
                  <img src="./imgs/active/yingshiluyin-1.0.0.png" alt="">
                  <p>影视录音</p>
              </a>
          </div>
          <div>
              <a href="javascript:;">
                  <img src="./imgs/active//yinyuexinshang-1.0.0.png" alt="">
                  <p>音乐欣赏</p>
              </a>
          </div>
          <div>
              <a href="javascript:;">
                  <img src="./imgs/active/jiatingyingyuan-1.0.0.png" alt="">
                  <p>家庭院线</p>
              </a>
          </div>
          <div>
              <a href="javascript:;">
                  <img src="./imgs/active/meeting.png" alt="">
                  <p>会议工程</p>
              </a>
          </div>
        </nav>
        <!-- 主题导航/ -->
        <!-- 模块分割条 -->
        <div class="gray-holder"></div>
        <!-- 模块分隔条/ -->
        <!-- 当前主体、最新商品导航 -->
        <aside class="active-warp">
            <div class="active-gray">
                <!-- <a href="javascript:;">新近促销</a> -->
                <a href="javascript:;">主题专场</a>
                <a href="javascript:;">新品发布</a>
            </div>
        </aside>
        <!-- 当前主体、最新商品导航/ -->
        <!-- 主题专场 -->
        <section class="subject ">
            <div class="link-holder"></div>
            <header class="s-head">
                <div class="solid"></div>
                <p class="s-title">主题专场</p>
                <div class="solid"></div>
            </header>
            <ul class="s-warp" data-flag="true">
            </ul>
            <script type="text/template" id="tpl1">
                <% goods.forEach(function(good){ %>
                    <li>
                        <a href="javascript:;">
                            <img src="./imgs/active/<%=good.imgs %>" alt="">
                        </a>
                        <p><%=good.brief %></p>
                        <div class="gray-holder"></div>
                    </li>
                <% }) %>
            </script>
        </section>
        <!-- 主题专场/ -->
        <!-- 新品发布 -->
        <section class="product">
            <div class="link-holder"></div>
            <header class="s-head">
                <div class="solid"></div>
                <p class="p-title">新品发布</p>
                <div class="solid"></div>
            </header>
            <ul class="p-warp" data-flag="true">
            </ul>
            <script type="text/template" id="tpl2">
                <% goods.forEach(function(good){ %>
                    <li>
                        <a href="javascript:;">
                            <img src="./imgs/active/<%=good.imgs %>" alt="">
                        </a>
                        <p><%=good.brief %></p>
                        <div class="gray-holder"></div>
                    </li>
                <% }) %>
            </script>
        </section>
        <!-- 新品发布/ -->
        <div class="more-head">
            <div></div>
            <p>更多主题专场</p>
            <div></div>
        </div>
        <nav class="m-nav">
            <div>
                <a href="javascript:;">
                    <img src="./imgs/active/soundrecording.png" alt="">
                    <p>录音编曲</p>
                </a>
            </div>
            <div>
                <a href="javascript:;">
                    <img src="./imgs/active/wangluozhubo-1.0.0.png" alt="">
                    <p>网络主播</p>
                </a>
            </div>
            <div>
                <a href="javascript:;">
                    <img src="./imgs/active/shoujiKge-1.0.0.png" alt="">
                    <p>手机直播</p>
                </a>
            </div>
            <div>
                <a href="javascript:;">
                    <img src="./imgs/active/yanchuyinxiang-1.0.0.png" alt="">
                    <p>演出音响</p>
                </a>
            </div>
            <div>
                <a href="javascript:;">
                    <img src="./imgs/active/jiatingKTV-1.0.0.png" alt="">
                    <p>家庭KTV</p>
                </a>
            </div>
            <div>
                <a href="javascript:;">
                    <img src="./imgs/active/jitayueqi-1.0.0.png" alt="">
                    <p>吉他乐器</p>
                </a>
            </div>
            <div>
                <a href="javascript:;">
                    <img src="./imgs/active/yingshiluyin-1.0.0.png" alt="">
                    <p>影视录音</p>
                </a>
            </div>
            <div>
                <a href="javascript:;">
                    <img src="./imgs/active//yinyuexinshang-1.0.0.png" alt="">
                    <p>音乐欣赏</p>
                </a>
            </div>
            <div>
                <a href="javascript:;">
                    <img src="./imgs/active/jiatingyingyuan-1.0.0.png" alt="">
                    <p>家庭院线</p>
                </a>
            </div>
            <div>
                <a href="javascript:;">
                    <img src="./imgs/active/meeting.png" alt="">
                    <p>会议工程</p>
                </a>
            </div>
        </nav>
        <div class="advert">
            <img src="./imgs/active/press_scan.jpg" alt="">
        </div>
        <div class="gray-holder"></div>
        <footer>
            <div class="login-box">
                <div class="login-left">
                    <a href="javascript:;">登陆</a>
                    <span>|</span>  
                    <a href="javascript:;">注册</a>
                </div>
                <div class="login-right">
                    <span>客服热线：
                        <i>400-700-3638</i>
                    </span>
                </div>
            </div>
            <div class="ftr-list1">
                <a href="javascript:;" >
                    <div class="bor-foot">
                        <i class="iconfont icon-zhengpinbaozheng"></i>
                        正品保障
                    </div>
                </a>
                <a href="javascript:;" >
                    <div class="bor-foot">
                        <i class="iconfont icon-baoyou"></i>
                        满99包邮
                    </div>
                </a>
                <a href="javascript:;" >
                    <div class="bor-foot">
                        <i class="iconfont icon-qitiantuihuan"></i>
                        七天退换
                    </div>
                </a>
                <a href="javascript:;" >
                    <div >
                        <i class="iconfont icon-m-customer"></i>
                        售后保障
                    </div>
                </a>
            </div>
            <div class="ftr-list2">
                <a href="javascript:;">
                    <img src="./imgs/active/img-info1.png" alt="">
                    <p>了解音平</p>
                </a>
                <a href="javascript:;">
                    <img src="./imgs/active/img-info2.png" alt="">
                    <p class="ftr-color">触屏版</p>
                </a>
                <a href="javascript:;">
                    <img src="./imgs/active/img-info3.png" alt="">
                    <p>电脑版</p>
                </a>
                <a href="javascript:;">
                    <img src="./imgs/active/img-info4.png" alt="">
                    <p>小程序</p>
                </a>
            </div>
            <p class="ftr-p1">增值电信业务经营许可证：粤B2-20110237 | 粤ICP备11032710号</p>
            <p class="ftr-p2">© 2011-2019 音平商城</p>
            <div class="ftr-holder"></div>
        </footer>
        <aside class="fix-bottom">
            <a href="javascript:;">
                <div class="iconfont icon-kefu"></div>
                <p>客服</p>
            </a>
            <a href="javascript:;">
                <div class="iconfont icon-caidan"></div>
                <p>分类</p>
            </a>
            <a href="javascript:;">
                <div class="iconfont icon-jishiben"></div>
                <p>套装</p>
            </a>
            <a href="javascript:;">
                <div class="iconfont icon-tubiaozhizuo--"></div>
                <p>活动</p>
            </a>
            <a href="javascript:;">
                <div class="iconfont icon-gouwuche fix-post">
                    <span class="fix-span">0</span>
                </div>
                <p>我的购物车</p>
            </a>
        
        </aside>
    </main>

    <script src="./js/lib/zepto.min.js"></script>
    <script src="./js/lib/ejs.js"></script>
    <script src="./js/lib/adapaMobile.js"></script>
    <script src="./js/lib/fastclick.js"></script>
    <script src="./js/lib/touch.js"></script>
    <script src="./js/active.js"></script>
</body>
</html>