<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width,maximum-scale=1.0,minimum-scale=1.0,initial-scale=1.0,user-scalable=no">
    <title>套装分类</title>
    <link rel="stylesheet" href="./fonts/iconfont.css">
    <link rel="stylesheet" href="./css/lib/reset.css">
    <link rel="stylesheet" href="./css/lib/swiper.min.css">
    <link rel="stylesheet" href="./css/section3.css">
</head>

<body>
    <div class="all-box clearfix">

        <!-- 网站左侧的导航 -->
        <aside class="aside-nav">

            <dl class="nav">
                <dt>网站导航</dt>
                <dd>
                    <a href="./index.html">首页</a>
                </dd>
                <dd>
                    <a href="./brand.html">品牌专区</a>
                </dd>
                <dd>
                    <a href="./suit.html">套装分类</a>
                </dd>
                <dd>
                    <a href="./sort.html">商品分类</a>
                </dd>
                <dd>
                    <a href="./active.html">活动专场</a>
                </dd>
                <dd>
                    <a href="./login.html">我的音平</a>
                </dd>
                <dd>
                    <a href="#">帮助中心</a>
                </dd>
                <dd>
                    <a href="#">商城广告</a>
                </dd>
            </dl>

            <dl class="server">
                <dt>特色服务</dt>
                <dd>
                    <a href="#">
                        <img src="./imgs/section3/server1.jpg" alt="">
                    </a>
                </dd>
                <dd>
                    <a href="#">
                        <img src="./imgs/section3/server2.jpg" alt="">
                    </a>
                </dd>
                <dd>
                    <a href="#">
                        <img src="./imgs/section3/server3.jpg" alt="">
                    </a>
                </dd>
            </dl>

            <dl class="other">
                <dd>
                    <a href="#">
                        <img src="./imgs/section3/ot1.jpg" alt="" class="ot">
                        订单查询
                    </a>
                </dd>
                <dd>
                    <a href="#">
                        <img src="./imgs/section3/ot2.png" alt="" class="ot">
                        投诉建议
                    </a>
                </dd>
            </dl>

            <dl>
                <dd>
                    <a href="javascript:void(0);" class="phone-box">
                        <img src="./imgs/section3/phone.jpg" alt="" class="phone">
                        400-700-3638
                    </a>
                </dd>
            </dl>

            <dl>
                <dd class="heart-info">
                    <a href="javascript:void(0);">
                        正品保障
                    </a>
                </dd>
                <dd class="heart-info">
                    <a href="javascript:void(0);">
                        售后无忧
                    </a>
                </dd>
                <dd class="heart-info">
                    <a href="javascript:void(0);">
                        货到付款
                    </a>
                </dd>
                <dd class="heart-info">
                    <a href="javascript:void(0);">
                        闪电发货
                    </a>
                </dd>
            </dl>

        </aside>

        <!-- 页面内容区域开始 -->
        <main class="cont">
            <header class="head">
                <div class="h-left">
                    <div class="aside-nav-toggle iconfont icon-caidan" data-flag="true"></div>
                    <div class="logo">
                        <a href="./index.html">
                            <img src="./imgs/suit/logo.png" alt="音平商城">
                        </a>
                    </div>
                </div>
                <div class="h-right">
                    <a href="./search.html">
                        <div class="myicon icon_01"></div>
                        <span>搜索</span>
                    </a>
                    <a href="./login.html">
                        <div class="myicon icon_02"></div>
                        <span>我的</span>
                    </a>
                </div>
            </header>

            <!-- 面包屑导航区域 -->
            <div class="bread">
                <div class="brand-item">
                    <a href="#">音平商城</a>
                </div>
                <div class="brand-item split"></div>
                <div class="brand-item">
                    <h1>套装分类</h1>
                </div>
            </div>

            <!-- ad大图区域 -->
            <div class="ad-box">
                <a href="#">
                    <img src="./imgs/section3/ad.jpg" alt="直播大卖场">
                </a>
            </div>

            <!-- 快速导航区域 -->
            <div class="quick-nav">
                <a href="#">
                    <img src="./imgs/section3/quick_nav1.jpg" alt="">
                    <p>电脑K歌直播</p>
                </a>
                <a href="#">
                    <img src="./imgs/section3/quick_nav2.jpg" alt="">
                    <p>手机K歌直播</p>

                </a>
                <a href="#">
                    <img src="./imgs/section3/quick_nav3.jpg" alt="">
                    <p>户外演出直播</p>

                </a>
                <a href="#">
                    <img src="./imgs/section3/quick_nav4.jpg" alt="">
                    <p>游戏电竞直播</p>

                </a>
                <a href="#">
                    <img src="./imgs/section3/quick_nav5.jpg" alt="">
                    <p>商用电商直播</p>

                </a>

            </div>

            <!-- tip图片展示 -->
            <div class="tip-info">
                <a href="#">
                    <img src="./imgs/section3/tip-img1.jpg" alt="提示">
                </a>
            </div>

            <!-- 爆款推荐区域 -->
            <div class="hot-box">
                <a href="#" class="top">
                    <img src="./imgs/section3/hot-top.jpg" alt="爆款推荐">
                </a>
                <div class="swiper-container" id="hot-swiper">
                    <div class="swiper-wrapper"></div>
                    <div class="swiper-pagination move-page1"></div>
                </div>
            </div>

            <!-- k歌喊麦直播区域 -->
            <div class="k-box">
                <div class="top">
                    <a href="#">
                        <img src="./imgs/section3/k-box-head.jpg" alt="" class="big">
                    </a>
                </div>
                <div class="item-common">
                    <a href="#">
                        <img src="./imgs/section3/k-box-item1.jpg" alt="" class="big">

                        <p class="info">
                            <span>￥1369.00</span>
                            <b>套装优惠144元</b>
                        </p>
                    </a>

                    <a href="#" class="video1">
                        <img src="./imgs/section3/k-box-item1-bot.jpg" alt="">
                    </a>
                </div>
                <div class="item-common item2">
                    <a href="#">
                        <img src="./imgs/section3/k-box-item2.jpg" alt="" class="big">

                        <p class="info">
                            <span>￥1369.00</span>
                            <b>套装优惠144元</b>
                        </p>
                    </a>

                    <a href="#" class="video1">
                        <img src="./imgs/section3/k-box-item1-bot.jpg" alt="">
                    </a>
                </div>
            </div>

            <!-- 第一个tab切换区域 -->
            <div class="tab-hover">
                <div class="title">
                    <span class="active">热销推荐</span>
                    <span>相关配件</span>
                </div>
                <div class="swiper-container move-common" id="move-common">
                    <div class="swiper-wrapper"></div>
                </div>
            </div>

            <!-- 手机k歌直播区域 -->
            <div class="k-box">
                <div class="top">
                    <a href="#">
                        <img src="./imgs/section3/phone-head.jpg" alt="" class="big">
                    </a>
                </div>
                <div class="item-common" style="background: #d9f6fe;">
                    <a href="#">
                        <img src="./imgs/section3/phone-item1.jpg" alt="" class="big">

                        <p class="info">
                            <span>￥1369.00</span>
                            <b>套装优惠144元</b>
                        </p>
                    </a>

                    <a href="#" class="video1">
                        <img src="./imgs/section3/phone-move1.jpg" alt="">
                    </a>
                </div>
                <div class="item-common item2">
                    <a href="#">
                        <img src="./imgs/section3/phone-item2.jpg" alt="" class="big">

                        <p class="info">
                            <span>￥1369.00</span>
                            <b>套装优惠144元</b>
                        </p>
                    </a>
                </div>
            </div>

            <!-- 第二个tab切换区域 -->
            <div class="tab-hover">
                <div class="title">
                    <span class="active">热销推荐</span>
                    <span>相关配件</span>
                </div>
                <div class="swiper-container move-common" id="move-common">
                    <div class="swiper-wrapper"></div>
                </div>
            </div>


            <!-- 户外演出直播区域 -->
            <div class="k-box">
                <div class="top">
                    <a href="#">
                        <img src="./imgs/section3/outer-head.jpg" alt="" class="big">
                    </a>
                </div>
                <div class="item-common" style="background:#d6f6cd">
                    <a href="#">
                        <img src="./imgs/section3/outer-item1.jpg" alt="" class="big">

                        <p class="info">
                            <span>￥1369.00</span>
                            <b>套装优惠144元</b>
                        </p>
                    </a>
                </div>
                <div class="item-common item2">
                    <a href="#">
                        <img src="./imgs/section3/outer-item2.jpg" alt="" class="big">

                        <p class="info">
                            <span>￥1369.00</span>
                            <b>套装优惠144元</b>
                        </p>
                    </a>

                    <a href="#" class="video1">
                        <img src="./imgs/section3/outer-move2.jpg" alt="">
                    </a>
                </div>
            </div>

            <!-- 第三个tab切换区域 -->
            <div class="tab-hover">
                <div class="title">
                    <span class="active">热销推荐</span>
                    <span>相关配件</span>
                </div>
                <div class="swiper-container move-common" id="move-common">
                    <div class="swiper-wrapper"></div>
                </div>
            </div>

            <!-- 游戏电竞直播区域 -->
            <div class="k-box">
                <div class="top">
                    <a href="#">
                        <img src="./imgs/section3/game-head.jpg" alt="" class="big">
                    </a>
                </div>
                <div class="item-common" style="background:#d9f6fe">
                    <a href="#">
                        <img src="./imgs/section3/game-item1.jpg" alt="" class="big">

                        <p class="info">
                            <span>￥1369.00</span>
                            <b>套装优惠144元</b>
                        </p>
                    </a>
                </div>
                <div class="item-common item2">
                    <a href="#">
                        <img src="./imgs/section3/game-item2.jpg" alt="" class="big">

                        <p class="info">
                            <span>￥1369.00</span>
                            <b>套装优惠144元</b>
                        </p>
                    </a>
                </div>
            </div>

            <!-- 第四个tab切换区域 -->
            <div class="tab-hover">
                <div class="title">
                    <span class="active">热销推荐</span>
                    <span>相关配件</span>
                </div>
                <div class="swiper-container move-common" id="move-common">
                    <div class="swiper-wrapper"></div>
                </div>
            </div>


            <!-- 商用电商购物直播区域 -->
            <div class="k-box">
                <div class="top">
                    <a href="#">
                        <img src="./imgs/section3/shop-header.jpg" alt="" class="big">
                    </a>
                </div>
                <div class="item-common">
                    <a href="#">
                        <img src="./imgs/section3/shop-item1.jpg" alt="" class="big">

                        <p class="info">
                            <span>￥1369.00</span>
                            <b>套装优惠144元</b>
                        </p>
                    </a>
                </div>
                <div class="item-common item2">
                    <a href="#">
                        <img src="./imgs/section3/shop-item2.jpg" alt="" class="big">

                        <p class="info">
                            <span>￥1369.00</span>
                            <b>套装优惠144元</b>
                        </p>
                    </a>
                </div>
            </div>

            <!-- 第五个tab切换区域 -->
            <div class="tab-hover">
                <div class="title">
                    <span class="active">热销推荐</span>
                    <span>相关配件</span>
                </div>
                <div class="swiper-container move-common" id="move-common">
                    <div class="swiper-wrapper"></div>
                </div>
            </div>

            <!-- 热销品牌推荐区域 -->
            <section class="hot-tuijian">
                <div class="head-box">
                    <img src="./imgs/section3/hot-tuijian.jpg" alt="">
                </div>
                <div class="swiper-container moreLine">
                    <div class="swiper-wrapper"></div>
                </div>
            </section>

            <!-- 热门分类区域 -->
            <section class="hot-type-box">
                <div class="head-box">
                    <img src="./imgs/section3/hot-type-head.jpg" alt="">
                </div>
                <ul class="list clearfix">
                    <li>
                        <a href="#">
                            电容麦
                            <span>&gt;</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            K歌声卡
                            <span>&gt;</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            手机声卡
                            <span>&gt;</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            手机麦
                            <span>&gt;</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            录音声卡
                            <span>&gt;</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            监听耳机
                            <span>&gt;</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            话放
                            <span>&gt;</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            耳放
                            <span>&gt;</span>
                        </a>
                    </li>
                </ul>
            </section>

            <!-- 蓝色盒子模块区域(麦克风热销推荐) -->
            <section class="blue-box">
                <div class="head-box">
                    <img src="./imgs/section3/mkf.jpg" alt="" class="head-img">
                </div>
                <div class="swiper-container blue-box-list box-list">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img1.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img2.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img3.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img1.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="more">
                    查看更多 >
                </div>
            </section>

            <!-- 红色盒子模块区域(声卡热销推荐) -->
            <section class="blue-box red-box">
                <div class="head-box">
                    <img src="./imgs/section3/shengka.jpg" alt="" class="head-img">
                </div>
                <div class="swiper-container blue-box-list box-list">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img1.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img2.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img3.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img1.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="more">
                    查看更多 >
                </div>
            </section>

            <!-- 蓝色盒子模块区域(耳机热销推荐) -->
            <section class="blue-box">
                <div class="head-box">
                    <img src="./imgs/section3/erji.jpg" alt="" class="head-img">
                </div>
                <div class="swiper-container blue-box-list box-list">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img1.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img2.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img3.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img1.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="more">
                    查看更多 >
                </div>
            </section>

            <!-- 红色盒子模块区域(声卡热销推荐) -->
            <section class="blue-box red-box">
                <div class="head-box">
                    <img src="./imgs/section3/peijian.jpg" alt="" class="head-img">
                </div>
                <div class="swiper-container blue-box-list box-list">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img1.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img2.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img3.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img1.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="more">
                    查看更多 >
                </div>
            </section>

            <!-- 蓝色盒子模块区域(声卡调试区域) -->
            <section class="blue-box">
                <div class="head-box">
                    <img src="./imgs/section3/shengka-tiaoshi.jpg" alt="" class="head-img">
                </div>
                <div class="swiper-container blue-box-list box-list">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img1.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img2.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img3.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="#">
                                <img src="./imgs/section3/mkf-img1.jpg" alt="">
                                <p>富克斯特2i2声卡搭配得胜K820麦克风 录音套装</p>
                                <div class="price-btn">
                                    <small>￥</small>
                                    <span>2599.00</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="more">
                    查看更多 >
                </div>
            </section>


            <!-- 网站脚注区域 -->
            <footer class="page-foot">
                <!-- 长按扫码区域 -->
                <section class="press-scan">
                    <img src="./imgs/suit/press_scan.jpg" alt="长按扫码">
                </section>

                <!-- 登陆注册链接区域 -->
                <section class="tip-box">
                    <div class="left-box">
                        <a href="#">登陆</a>
                        <span>|</span>
                        <a href="#">注册</a>
                    </div>
                    <div class="right-box">
                        <a href="#">
                            客服热线 :
                            <span>400-700-3683</span>
                        </a>
                    </div>
                </section>

                <!-- 售后帮助导航区域 -->
                <section class="help-box">
                    <div class="item">
                        <i class="item1"></i>
                        <span>正品保障</span>
                    </div>
                    <div class="item">
                        <i class="item2"></i>
                        <span>满99包邮</span>
                    </div>
                    <div class="item">
                        <i class="item3"></i>
                        <span>七天退换</span>
                    </div>
                    <div class="item">
                        <i class="item4"></i>
                        <span>售后保障</span>
                    </div>
                </section>

                <!-- img信息提示区域 -->
                <section class="img-info-box">
                    <figure>
                        <img src="./imgs/suit/img-info1.png" alt="了解音平">
                        <span>了解音平</span>
                    </figure>
                    <figure>
                        <img src="./imgs/suit/img-info2.png" alt="触屏版">
                        <span>触屏版</span>
                    </figure>
                    <figure>
                        <img src="./imgs/suit/img-info3.png" alt="电脑版">
                        <span>电脑版</span>
                    </figure>
                    <figure>
                        <img src="./imgs/suit/img-info4.png" alt="小程序">
                        <span>小程序</span>
                    </figure>
                </section>

                <!-- 许可证信息区域 -->
                <section class="license">
                    <p>增值电信业务经营许可证：粤B2-20110237 | 粤ICP备11032710号</p>
                    <p>© 2011-2019 音平商城</p>
                </section>
            </footer>

            <!-- 底部固定的导航区域 -->
            <nav class="fixed-bottom">
                <a href="#">
                    <i class="iconfont icon-kefu"></i>
                    <span>客服</span>
                </a>
                <a href="./sort.html">
                    <i class="iconfont icon-caidan"></i>
                    <span>分类</span>
                </a>
                <a href="./suit.html">
                    <i class="iconfont icon-jishiben"></i>
                    <span>套装</span>
                </a>
                <a href="./active.html">
                    <i class="iconfont icon-tubiaozhizuo--"></i>
                    <span>活动</span>
                </a>
                <a href="./cart.html">
                    <i class="iconfont icon-gouwuche"></i>
                    <span>我的购物车</span>
                </a>
            </nav>

        </main>
        <!-- 页面内容区域结束 -->

    </div>
    <!-- 轮播图区域的模板 -->
    <script type="text/template" id="template-ad">
        <% for( var i = 0; i < list.length; i++ ){ %>
            <div class="swiper-slide">
                <a href="#">
                    <img src="./imgs/section3/<%= list[i].ad %>" alt="ad<%= list[i].id %>">
                </a>
            </div>
        <% } %>
    </script>

    <!-- tab切换的ejs模板 -->
    <script type="text/template" id="tab-ejs">
        <% for(var i = 0; i < list.length; i++ ){ %>
            <div class="swiper-slide">
                <a href="#">
                    <img src="./imgs/section3/<%= list[i].imgind %>" alt="">
                    <p><%= list[i].info %></p>
                    <div class="price-btn">
                        <small>￥</small>
                        <span><%= list[i].price %></span>
                    </div>
                </a>
            </div>
        <% } %>
    </script>

    <!-- 热销品牌区域的模板 -->
    <script type="text/template" id="hot-brand">
        <% for( var i = 0; i < list.length; i++ ) { %>
            <div class="swiper-slide">
                <a href="#">
                    <img src="./imgs/section3/<%= list[i].brand %>" alt="">
                    <p><%= list[i].name %></p>
                </a>
            </div>
        <% } %>
    </script>


    <script src="./js/lib/swiper.min.js"></script>
    <script src="./js/lib/adapaMobile.js"></script>
    <script src="./js/lib/zepto.min.js"></script>
    <script src="./js/lib/fx_methods.js"></script>
    <script src="./js/lib/fx.js"></script>
    <script src="./js/lib/fastclick.js"></script>
    <script src="./js/header.js"></script>
    <script src="./js/lib/touch.js"></script>
    <script src="./js/lib/mock.js"></script>
    <script src="./js/lib/ejs.js"></script>
    <script src="./js/section3.js"></script>
</body>

</html>