<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/lib/swiper.min.css">
    <link rel="stylesheet" href="fonts/iconfont.css">
    <link rel="stylesheet" href="css/lib/reset.css">
    <link rel="stylesheet" href="css/section1.css">
    <script src="js/lib/adapaMobile.js"></script>
</head>
<body>
<div class="all">
    <!-- 头部开始 -->
    <header class="clearfix">
        <div class="left">
            <div class="home-icon active"></div>
            <img src="imgs/section1/logo.png" class="logo">
            <img src="imgs/section1/active.gif" class="act">
        </div>
        <div class="right">
            <a href="#">
                <div class="search"></div>
                <p>搜索</p>
            </a>
            <a href="#">
                <div class="person"></div>
                <p>我的</p>
            </a>
        </div>
    </header>
    <!-- 头部结束 -->
    <!-- nav开始 -->
    <nav class="clearfix">
        <div class="nav-one">
            <a href="#">音平商城</a>
        </div>
        <div class="nav-line"></div>
        <div class="nav-two">
            <a href="#">主题商城</a>
        </div>
        <div class="nav-line"></div>
        <div class="nav-three">
            <h1>录音编曲设备专场</h1>    
        </div>
    </nav>
    <!-- nav结束 -->

    <!-- banner开始 -->
    <div class="banner">
        <img src="imgs/section1/banner.jpg">
    </div>
    <!-- banner结束 -->

    <!-- section开始 -->
    <section class="list-01">
        <div class="top">
            <img src="imgs/section1/list1.jpg">
            <img src="imgs/section1/list2.jpg">
            <img src="imgs/section1/list3.jpg">
            <img src="imgs/section1/list4.jpg">
        </div>
        <div class="bottom">
            <p>注：登录/注册后即可领取，优惠券在订单结算时使用 </p>
            <p>（使用时间为2019年1月28日至2019年2月14日）</p>
        </div>
    </section>

    <section class="list-02">
        <div>
            <img src="imgs/section1/list5.jpg">
            <img src="imgs/section1/list6.jpg">
            <img src="imgs/section1/list7.jpg">
            <img src="imgs/section1/list8.jpg">
        </div>
    </section>

    <section class="list-img">
        <img src="imgs/section1/list9.jpg">
        <div>
            <img src="imgs/section1/load.jpg" data-original="imgs/section1/list10.jpg" class="lazy">
            <div class="bottom clearfix">
                <div class="img-left">
                    <img src="imgs/section1/list101.jpg" data-original="imgs/section1/list101.jpg">
                </div>
                <div class="img-right">
                    <img src="imgs/section1/list102.png">
                    <p><span>￥</span><span class="price">1759</span></p>
                    <div class="btn">立即购买</div>
                </div>
            </div>
        </div>
        <div>
            <img src="imgs/section1/load.jpg" data-original="imgs/section1/list11.jpg" class="lazy">
            <div class="bottom clearfix">
                <div class="img-left">
                    <img src="imgs/section1/list111.jpg" data-original="imgs/section1/list111.jpg">
                </div>
                <div class="img-right">
                    <img src="imgs/section1/list102.png">
                    <p><span>￥</span><span class="price">2599</span></p>
                    <div class="btn">立即购买</div>
                </div>
            </div>
        </div>
        <div>
            <img src="imgs/section1/load.jpg" data-original="imgs/section1/list12.jpg" class="lazy">
            <div class="bottom clearfix">
                <div class="img-left">
                    <img src="imgs/section1/list121.jpg" data-original="imgs/section1/list121.jpg">
                </div>
                <div class="img-right">
                    <img src="imgs/section1/list102.png">
                    <p><span>￥</span><span class="price">3740</span></p>
                    <div class="btn">立即购买</div>
                </div>
            </div>
        </div>
        <div>
            <img src="imgs/section1/load.jpg" data-original="imgs/section1/list13.jpg" class="lazy">
            <div class="bottom clearfix">
                <div class="img-left">
                    <img src="imgs/section1/list131.jpg" data-original="imgs/section1/list131.jpg">
                </div>
                <div class="img-right">
                    <p><span>￥</span><span class="price">5600</span></p>
                    <div class="btn">立即购买</div>
                </div>
            </div>
        </div>
        <div>
            <img src="imgs/section1/load.jpg" data-original="imgs/section1/list14.jpg" class="lazy">
            <div class="bottom clearfix">
                <div class="img-left">
                    <img src="imgs/section1/list141.jpg" data-original="imgs/section1/list141.jpg">
                </div>
                <div class="img-right">
                    <p><span>￥</span><span class="price">9599</span></p>
                    <div class="btn">立即购买</div>
                </div>
            </div>
        </div>
        <div>
            <img src="imgs/section1/load.jpg" data-original="imgs/section1/list15.jpg" class="lazy">
            <div class="bottom clearfix">
                <div class="img-left">
                    <img src="imgs/section1/list151.jpg" data-original="imgs/section1/list151.jpg">
                </div>
                <div class="img-right">
                    <p><span>￥</span><span class="price">22502</span></p>
                    <div class="btn">立即购买</div>
                </div>
            </div>
        </div>

        <div class="more">
            <p>个人录音配音方案 ></p>
        </div>
        <img src="imgs/section1/list16.jpg">
    </section>

    <section class="list-img">
        <div>
            <img src="imgs/section1/load.jpg" data-original="imgs/section1/list21.jpg" class="lazy">
            <div class="bottom bottom-02 clearfix">
                <div class="img-left">
                    <img src="imgs/section1/list211.jpg" data-original="imgs/section1/list211.jpg">
                </div>
                <div class="img-right img-02">
                    <p><span>￥</span><span class="price">8914</span></p>
                    <div class="btn">立即购买</div>
                </div>
            </div>
        </div>
        <div>
            <img src="imgs/section1/load.jpg" data-original="imgs/section1/list22.jpg" class="lazy">
            <div class="bottom bottom-02 clearfix">
                <div class="img-left">
                    <img src="imgs/section1/list221.jpg" data-original="imgs/section1/list221.jpg">
                </div>
                <div class="img-right img-02">
                    <p><span>￥</span><span class="price">29934</span></p>
                    <div class="btn">立即购买</div>
                </div>
            </div>
        </div>
        <div>
            <img src="imgs/section1/load.jpg" data-original="imgs/section1/list23.jpg" class="lazy">
            <div class="bottom bottom-02 clearfix">
                <div class="img-left">
                    <img src="imgs/section1/list231.jpg" data-original="imgs/section1/list231.jpg">
                </div>
                <div class="img-right img-02">
                    <p><span>￥</span><span class="price">66098</span></p>
                    <div class="btn">立即购买</div>
                </div>
            </div>
        </div>
        <div>
            <img src="imgs/section1/load.jpg" data-original="imgs/section1/list24.jpg" class="lazy">
            <div class="bottom bottom-02 clearfix">
                <div class="img-left">
                    <img src="imgs/section1/list241.jpg" data-original="imgs/section1/list241.jpg">
                </div>
                <div class="img-right img-02">
                    <p><span>￥</span><span class="price">15487</span></p>
                    <div class="btn">立即购买</div>
                </div>
            </div>
        </div>
        <div class="more more-02">
            <p>更多小型录音棚方案 ></p>
        </div>
    </section>
    

    <section class="list-img">
        <img src="imgs/section1/list31.jpg">
        <div>
            <img src="imgs/section1/load.jpg" data-original="imgs/section1/list32.jpg" class="lazy">
            <div class="bottom bottom-03 clearfix">
                <div class="img-left">
                    <img src="imgs/section1/list321.jpg" data-original="imgs/section1/list321.jpg">
                </div>
                <div class="img-right img-03">
                    <p><span>￥</span><span class="price">2044</span></p>
                    <div class="btn">立即购买</div>
                </div>
            </div>
        </div>
        <div>
            <img src="imgs/section1/load.jpg" data-original="imgs/section1/list33.jpg" class="lazy">
            <div class="bottom bottom-03 clearfix">
                <div class="img-left">
                    <img src="imgs/section1/list331.jpg" data-original="imgs/section1/list331.jpg">
                </div>
                <div class="img-right img-03">
                    <p><span>￥</span><span class="price">6500</span></p>
                    <div class="btn">立即购买</div>
                </div>
            </div>
        </div>
        <div>
            <img src="imgs/section1/load.jpg" data-original="imgs/section1/list34.jpg" class="lazy">
            <div class="bottom bottom-03 clearfix">
                <div class="img-left">
                    <img src="imgs/section1/list341.jpg" data-original="imgs/section1/list341.jpg">
                </div>
                <div class="img-right img-03">
                    <p><span>￥</span><span class="price">13125</span></p>
                    <div class="btn">立即购买</div>
                </div>
            </div>
        </div>
        <div>
            <img src="imgs/section1/load.jpg" data-original="imgs/section1/list35.jpg" class="lazy">
            <div class="bottom bottom-03 clearfix">
                <div class="img-left">
                    <img src="imgs/section1/list351.jpg" data-original="imgs/section1/list351.jpg">
                </div>
                <div class="img-right img-03">
                    <p><span>￥</span><span class="price">27159</span></p>
                    <div class="btn">立即购买</div>
                </div>
            </div>
        </div>
        <div class="more more-03">
            <p>更多录音编曲制作方案 ></p>
        </div>
    </section>
    <!-- section结束 -->

    <!-- 热卖开始 -->
    <section class="hot" data-flag="true">
        <img src="imgs/section1/hot-head.jpg" class="title">
        <div class="tab">
            <ul class="top clearfix">
                <li>套装</li>
                <li>单品</li>
            </ul>
            <div class="tab-list">
                <ul class="hot-list" data-req="true"></ul>
                <ul class="hot-list active" data-req="true"></ul>
            </div>
            <script type="text/template" id="hotData">
               <% list.forEach(function(data){ 
                    if(data.Id>5){
                        data.Id=data.Id-5;
                    }else{
                        data.Id=data.Id;
                    }
                    console.log(data.Id)
                %>
                    <li class="clearfix bg-<%=data.Id%>">
                        <div class="num">
                            <p class="num-top">top</p>
                            <p class="grade"><%=data.Id%></p>
                        </div>
                        <div class="goods clearfix">
                            <a href="detail.html?id=<%=data.Id%>">
                                <div class="goods-img">
                                    <img src="imgs/commonImg/<%=data.indimg%>">
                                </div>
                                <div class="intro">
                                    <span class="info"><%=data.info%></span>
                                    <div class="bottom">
                                        <span class="left">
                                            <span>￥<%=data.price%></span>
                                            <span class="jingxuan">精选</span>
                                        </span>
                                        <img src="imgs/section1/cart.png">
                                    </div>
                                </div>
                            </a>
                        </div>
                    </li>
                <% }) %>

             </script>
        </div>
    </section>
    <!-- 热卖结束 -->

    <!-- 精选开始 -->
    <section class="jingxuan">
        <div>
            <img src="imgs/section1/jingxuan-t1.jpg"class="mtop">
            <img src="imgs/section1/jingxuan-t2.jpg">
            <div class="list" data-type="录音麦克风" data-flag="true"></div>
        </div>

        <div>
            <img src="imgs/section1/jingxuan-t21.jpg"class="mtop">
            <img src="imgs/section1/jingxuan-t22.jpg">
            <div class="list" data-type="专业声卡" data-flag="true"></div>
        </div>

        <div>
            <img src="imgs/section1/jingxuan-t31.jpg"class="mtop">
            <img src="imgs/section1/jingxuan-t32.jpg">
            <div class="list" data-type="精选键盘" data-flag="true"></div>
        </div>

        <div>
            <img src="imgs/section1/jingxuan-t41.jpg"class="mtop">
            <img src="imgs/section1/jingxuan-t42.jpg">
            <div class="list" data-type="监听音箱" data-flag="true"></div>
        </div>      
    </section>
    <script type="text/template" id="jingxuan">
        <% list.forEach(function(data){%>
            <div class="intro">
                <a href="detail.html?id=<%=data.Id%>">
                    <div class="list-img">
                        <img src="imgs/commonImg/<%=data.indimg%>">
                    </div>
                    <div class="info">
                        <span><%=data.info%></span>
                    </div>
                    <div class="price"><span>￥<%=data.price%></span></div>
                </a>
            </div>
        <%})%>
    </script>

    <section class="other" >
        <img src="imgs/section1/jingxuan-t51.jpg">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="list" data-type="0" data-flag="true"></div>
                </div>
                <div class="swiper-slide">
                    <div class="list" data-type="1" data-flag="true"></div>
                </div>

            </div>
        </div>
        <img src="imgs/section1/ft.jpg">
    </section>

    <div class="block"></div>
    <nav class="slide">
        <div class="mm-panel mm-opened mm-current">
            <p class="til"><b>网站导航</b></p>
            <ul class="mm-list">
                <li><a href="index.html">首页</a></li>
                <li><a href="brand.html">品牌专区</a></li>
                <li><a href="suit.html">套装分类</a></li>
                <li><a href="sort.html">商品分类</a></li>
                <li><a href="active.html">活动专场</a></li>
                <li><a href="">我的音平</a></li>
                <li><a href="">帮助中心</a></li>
                <li><a href="" target="_blank">商城公告</a></li>
            </ul>
            <p class="tese"><b>特色服务</b></p>
            <ul class="mm-list">
                <li><a href=""><img  src="imgs/section1/ad-01.jpg"></a></li>
                <li><a href=""><img  src="imgs/section1/ad-02.jpg"></a></li>
                <li><a href=""><img src="imgs/section1/ad-03.jpg"></a></li>
            </ul>
            <ul class="mm-list">
                <li><a href=""><img class="img_ico" src="imgs/section1/css.jpg">订单查询</a></li>
                <li><a href=""><img class="img_ico" src="imgs/section1/css2.png">投诉建议</a></li>
            </ul>
            <ul  class="mm-list">
                <li><a href="">400-700-3638</a></li>
            </ul>
            <div class="pro-table">
                <dl>
                    <dd>正品保障</dd>
                    <dd>售后无忧</dd>
                    <dd>货到付款</dd>
                    <dd>闪电发货</dd>
                </dl>
            </div>
        </div>
    </nav>
    <div class="gotop">
        <img src="imgs/sort/gotop.png">
    </div>

    <footer>
        <div class="foot">
            <div>
                <a href="">
                    <i class="iconfont icon-kefu"></i>
                    <p>客服</p>
                </a>
            </div>
            <div>
                <a href="sort.html">
                    <i class="iconfont icon-caidan"></i>
                    <p>分类</p>
                </a>
            </div>
            <div>
                <a href="suit.html">
                    <i class="iconfont icon-jishiben"></i>
                    <p>套装</p>
                </a>
            </div>
            <div>
                <a href="active.html">
                    <i class="iconfont icon-tubiaozhizuo--"></i>
                    <p>活动</p>
                </a>
            </div>
            <div>
                <a href="cart.html">
                    <i class="iconfont icon-gouwuche"></i>
                    <p>我的购物车</p>
                </a>
            </div>
        </div>
    </footer>
</div>

    <script src="js/lib/zepto.min.js"></script>
    <script src="js/lib/fx.js"></script>
    <script src="js/lib/fx_methods.js"></script>
    <script src="js/lib/fastclick.js"></script>
    <script src="js/lib/swiper.min.js"></script>
    <script src="js/lib/ejs.js"></script>
    <script src="js/section1.js"></script>
    <script src="js/lib/lazyload.js"></script>

    <script>        
        var mySwiper = new Swiper ('.swiper-container', {
            loop: true, // 循环模式选项
        })       
        $(".lazy").picLazyLoad({
            threshold: 50,
        });
    </script>

</body>
</html>